version: "3.0"
services:
  api: 
    container_name: api-container
    build: .
    ports:
      - 80:80
    networks:
      - net
    volumes:
      - ./:/code

  logstash:
    container_name: logs-container
    image: logstash:7.14.2
    volumes:
      - ./logstash:/usr/share/logstash/pipeline/
    command: logstash -f /usr/share/logstash/pipeline/logstash.conf
    depends_on:
      - elasticsearch
    networks:
      - net
    ports:
      - "12201:12201/udp"

  kibana:
    container_name: kb-container
    image: docker.elastic.co/kibana/kibana:7.11.0
    environment:
      - ELASTICSEARCH_HOSTS=http://es-container:9200
    depends_on:
      - elasticsearch
    ports:
      - 5601:5601
    networks:
      - net

  elasticsearch:
    container_name: es-container
    image: docker.elastic.co/elasticsearch/elasticsearch:7.11.0
    environment:
      - xpack.security.enabled=false
      - "discovery.type=single-node"
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - 9200:9200
    networks:
      - net

networks:
  net:
    driver: bridge